*{
    margin: 0px;
    padding: 0px;
}
head{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url("https://i.pinimg.com/736x/eb/fe/ec/ebfeec8b9c82d021c84eff4bcca842d4.jpg");
    background-position: 50% 20%;
    background-size: 160% auto;
}
input{
    display: inline-block;
    height: 12px;
    width: 272px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 30px;
    font-size: 16px; 
    padding: 10px 10px;
    font: bolder;
}
input#butao{    
    height: 40px;
    width: 292px;    
    border-style: double;
    border: 3px solid black;
    border-radius: 30px;
    font-size: 16px; 
    padding: 10px 10px;    
    border-color: rgb(150 0 0);
    background-color: rgb(255 214 0);
    color: blue;       
}

div#corpo-form{
    /*background-color: red;
    background-image: linear-gradient(45deg red yellow);*/    
    width: 300px;    
    margin: 230px auto 0px auto; 
}
div#titulos{
    padding: 10px 20px;
    text-align: center; 
    display: block; 
    font-family: Arial, Helvetica, sans-serif; 
    font: bold; color: whitesmoke; 
    background-color: blue; 
    border-radius: 10px; 
    width: 260px;
}
.ErrorMessage{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(200, 0, 0, 70);
    color: white;
    border-style: double;
    border-color: white;
    margin: 15px;
    margin-top: 75px;   
        
}
footer{
    background: linear-gradient(45deg black red black)
}